@model IEnumerable<SnapHub.Models.Session>

@{
    ViewData["Title"] = "Wybierz sesję";
}

<h1>Sesja</h1>
<div>
    <form asp-action="Details" asp-route-id="id">
        <div class="form-group">
            <label for="id">Enter Session Code:</label>
            <input type="number" class="form-control" id="id" name="id" required />
        </div>
        <button type="submit" class="btn btn-primary">View Session</button>
    </form>
</div>
