@model IEnumerable<SnapHub.Models.Session>

@{
    ViewData["Title"] = "Sesja";
}

<h1>Sesja</h1>
<div>
    <form method="get" action="@Url.Action("Details", "Session")">
        <div class="form-group">
            <label for="sessionCode">Enter Session Code:</label>
            <input type="text" class="form-control" id="sessionCode" name="sessionCode" required />
        </div>
        <button type="submit" class="btn btn-primary">View Session</button>
    </form>
</div>
