@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yes I do, Fotografia Jan Kowalski</h1>
    <p>Aby obejrzeć zdjęcia ze swojej uroczystości wejdż w widok Sesja i podaj kod sesji</a>.</p>
</div>
