@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>
<h1> --- </h1>
<div class="contact-info">
    <p><strong>Imię Nazwisko:</strong>   Jan Kowalski</p>
    <p><strong>Email:</strong>   jan.kowalski@example.com</p>
    <p><strong>Telefon:</strong>   +48 123 456 789</p>
</div>
<h1> --- </h1>
<h1>Skontaktuj się ze mną!</h1>

