@model SnapHub.Models.Portfolio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja Portfolio</h1>

<h4>Portfolio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @if (ViewBag.PhotoFiles != null)
            {
                <h3>Wybierz zdjęcia do usunięcia</h3>
                <ul>
                    @foreach (var photoFileName in ViewBag.PhotoFiles)
                    {
                        <li>
                            <img src="@Url.Content($"~/uploads/Portfolio/{photoFileName}")" class="img-thumbnail" alt="Photo" />
                            <input type="checkbox" name="photoFileNames" value="@photoFileName" />
                        </li>
                    }
                </ul>
            }
            <div class="form-group">
                <label asp-for="Photos">Dodaj nowe zdjęcia:</label>
                <input type="file" name="photos" multiple />
                <span asp-validation-for="Photos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="1">Powrót do Portfolio</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
